/**  video page begin */
.videoCard{
    margin-top:20px;
    margin-bottom:30px;
    width: 100%;
}
.videoCardImg{
    max-width: 500px;
    width:90%;
    margin: 10px auto;
    min-height:200px;
    min-width:300px;
    box-shadow: 0 0 3px 3px #353535;
    border-radius: 10px;
    border-style: none;
}

.videoCardIframe{
    width:100%;
    min-height:280px;
    min-width:360px;
    border-style:none;
    margin-bottom:10px;

}

.btn-video {
    color: #545454;
    background-color: #D8D2D2;
    border-color: #ccc;
    display: inline;
    padding: 2px 5px;
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;

}

.dropdown-menu, .dropdown-menu>li.menuItem {
    min-width: 145px;
    padding: 0px;
    background-color: #222222 !important;
    border:none !important;
}

.dropdown-menu>li.menuItem:hover, .dropdown-menu>.menuItem>li:focus{
    background-color: #222222 !important;
    border:none !important;
}

.menuItem a, .menuItem a:hover{
    background-color: #222222 !important;
    border:none !important;
}
.video-clickTime{
    color: #DEDCDC;
    margin-left: 5px;
}
/**  video page end */

/** login and signup begin **/

.account-form{
    width :50%;
    margin: 0 auto;
}

.account-input{
    margin-bottom:20px;
}

.signup-card {
    padding: 20px;
    width: 360px;
    background-color: #F7F7F7;
    margin: 50px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.signup-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.signup-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    border-radius: 3px;
}


#registerForm-panelAlert{
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
}


.signup-card input[type="radio"]{
    display: inline;
    margin-bottom: 20px;
}

.signup-card label{
    margin-right:20px;
    font-size: 16px;
    font-weight: 300;
}

.signup {
    text-align: center;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.signup-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.signup-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.signup-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.signup-card a:hover {
    opacity: 1;
}

.signup-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}


.signupForm-panelAlert{
    height: 40px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.login-card {
    padding: 20px;
    width: 360px;
    background-color: #F7F7F7;
    margin: 50px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    border-radius: 3px;
}


#loginForm-panelAlert{
    height: 40px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-card a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.helloUser{
    font-size: 18px;
    color: #ffffff;
    float: right;
    margin-right: 20px;
    margin-top: 21px;
}

/** login and signup end **/
/** guide begin **/
.guideSortButtonGroup .sortActive {

}

.guide-button-img-dislike{
    width: 36px;
    height: 36px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    top: -5px;
    background-color: #c1534f;;
    border-radius: 30px;
    margin-left:10px;
}

.guide-button-img-like{
    width: 36px;
    height: 36px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    top: -5px;
    background-color: #4d9c4d;
    border-radius: 30px;
}
.guide-button-img{
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    padding-bottom: 3px;
    position: relative;
    top: -10px;
}

.guideSortButtonGroup{
    margin-top : 10px;
    margin-left: 5%;
}
.guideHeroList{
    margin: 0px auto;
}
.guideHeroImg{
    display:inline;
    width: 72px;
    height: 120px;
    margin-right: 12px;
    border-radius: 36px;
}

.guide-header-button{
    margin-left:32%;
}
.guideCard {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom : 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(34, 34, 34, 0.5);
    box-shadow: 6px 6px 3px #111111;
    border-radius: 5px;
    border: 2px solid black;
}

.guideProgress{
    margin-top: 12px;
    margin-bottom : 10px;
    width: 60%;
    float:left;
}

.guide-map{
    width:100%;
}

.guide-title{
    font-size: 16px;
    display: inline;
    color: whitesmoke;
}

.guide-user{
    font-size:12px;
    display: inline;
    margin-left:30px;
    color: #cacaca;
}

.guide-button{
    cursor: pointer;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/** guide ends **/

/** side-comments begin **/


@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.commentable-section:hover .side-comment .marker {
    display: block;
}
.side-comment {
    top: 0;
    left: 30px;
    width: 97%;
    position: relative;
}
.side-comment * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.side-comment .hide {
    display: none;
}
.side-comment .marker {
    position: absolute;
    right: 90px;
    top: -42px;
    cursor: pointer;
}

.side-comment.active .marker,
.side-comment.has-comments .marker,
.side-comment.has-comments ul.comments {
    display: block;
}
.side-comment .add-comment {
    display: none;
}
.side-comment.has-comments .add-comment,
.side-comment.no-current-user .add-comment {
    display: block;
}
.side-comment.no-current-user .add-comment {
    margin-top: 20px;
}
.side-comment.has-comments .marker:before {
    content: "";
}
.side-comment.has-comments .marker span {
    display: block;
}
.side-comment.has-comments .add-comment.hide {
    display: none;
}
.side-comment.has-comments .comment-form {
    display: none;
}
.side-comment .comments-wrapper {
    display: none;
}
.side-comment .comments {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}
.side-comment .comments li {
    width: 100%;
    overflow: hidden;
}
.side-comment .comment,
.side-comment .comment-box,
.side-comment .actions {
    margin: 0;
}
.side-comment .add-comment.active {
    display: block;
}

.side-comment .comment-form.active {
    display: block;
}
.side-comment.active .comments-wrapper {
    display: block;
}
@media (max-width: 768px) {
    body {
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
}

#commentable-container {
    -webkit-transition: all 0.22s ease;
    transition: all 0.22s ease;
}

.commentable-section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}

.commentable-section-last{
    clear:both;
}

.commentable-section::after {
    content: "";
    clear: both;
}
.side-comment {
    padding-bottom: 20px;
}
.side-comment .marker {
    width: 20px;
    height: 18px;
    background: #DEDEDC;
    border-radius: 2px;
    text-decoration: none;
}
.side-comment .marker:before,
.side-comment .marker span {
    position: absolute;
    width: 20px;
    height: 18px;
    line-height: 16px;
    font-size: 14px;
    color: #232323;
    text-align: center;
}
.marker .markerComment{
    margin-left:30px;
    color: whitesmoke !important;
}
.side-comment .marker span {
    line-height: 20px;
    font-size: 12px;
}
.side-comment .marker:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 5px;
    width: 0;
    border-width: 7px 8px 0 0;
    border-style: solid;
    border-color: #DEDEDC transparent;
}
.side-comment .marker:hover,
.side-comment.active .marker {
    background: #4FAF62;
}
.side-comment .marker:hover:after,
.side-comment.active .marker:after {
    border-color: #4FAF62 transparent;
}
.side-comment .comments-wrapper {
    width: 98%;
    padding-bottom: 20px;
}
.side-comment.active .comments-wrapper {
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.side-comment ul.comments li,
.side-comment .comment-form {
    border: 1px solid #F2F2F0;
    border-left: 0;
    border-right: 0;
    padding: 15px 0;
    margin-top: -1px;
}
.side-comment .comment,
.side-comment .comment-box {
    font-size: 16px;
    line-height: 24px;
}
.side-comment .author-avatar {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    display: none;
}
.side-comment .author-avatar img {
    width: 100%;
    height: 100%;
}
.side-comment .right-of-avatar {
    float: left;
}
.side-comment .author-name {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 2px 0;
    text-decoration: none;
    color: whitesmoke;
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.side-comment a.author-name:hover {
    color: #444;
}
.side-comment .action-link {
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
}
.side-comment .action-link:hover {
    text-decoration: none;
}
.side-comment .action-link.post{
    margin-left: 30px;
}
.side-comment .action-link.post:hover,
.side-comment .action-link.cancel:hover,
.side-comment .action-link.delete:hover {
    color: #57AD68;
}
.side-comment .add-comment {
    color: #B3B3B1;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    padding: 0px 8px;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
.side-comment .add-comment:before {
    content: "+";
    border: 2px solid #DEDEDC;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    color: #DEDEDC;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 14px;
    float: left;
    padding-left: 1px;
    margin-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.side-comment .add-comment:hover {
    text-decoration: none;
}
.side-comment .add-comment:hover {
    color: #4FAF62;
}
.side-comment .add-comment:hover:before {
    border-color: #4FAF62;
    color: #4FAF62;
}
.side-comment .comment-box {
    outline: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 5px;
    width: 50%;
}

.side-comment .actions a:hover {
    color: #4FAF62;
}
.side-comment .actions a {
    cursor:pointer;
}
.side-comment .actions .cancel:before {
    content: '\00B7';
    color: #B3B3B1;
    padding: 0 5px;
}
@media (max-width: 768px) {
    .side-comments-open {
        -webkit-transform: translate(-220px, 0);
        -ms-transform: translate(-220px, 0);
        transform: translate(-220px, 0);
    }
    .side-comment .comments-wrapper {
        width: 200px;
    }
    .side-comment .right-of-avatar {
        width: 158px;
    }
    .side-comment .marker {
        display: block;
    }
}

#commentable-container {
    margin-top: 30px;
    max-width: 93%;
    color: whitesmoke;
}

.container {
    margin: 0 auto;
}

/** side-comments end **/
